.footer {
    /* position: fixed; */
    display: inline-block;
    padding: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    text-align: center;
 }

 .socmed {
    word-spacing: 5px;
 }

 .font-awesome {
     font-size: 30px;
 }